name: .NET

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: dotnet test --no-build --verbosity normal

  deploy:
    needs: build
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Release
        run: dotnet publish -c Release -f net5.0 --no-build -o Release -r linux-x64 Derrick.sln
      - name: ssh deploy
        # You may pin to the exact commit or the version.
        # uses: easingthemes/ssh-deploy@c711f2c3391cac2876bf4c833590077f02e4bcb8
        uses: easingthemes/ssh-deploy@v2.2.11
        with:
          # Private Key
          SSH_PRIVATE_KEY: ${{ secrets.DEPLOYMENT_SSH_KEY }}
          # Remote host
          REMOTE_HOST: ${{ secrets.DEPLOYMENT_SSH_HOST }}
          # Remote user
          REMOTE_USER: ${{ secrets.DEPLOYMENT_SSH_USER }}
          # Remote port
          REMOTE_PORT: ${{ secrets.DEPLOYMENT_SSH_PORT }}
          # Source directory
          SOURCE: Release
          # Target directory
          TARGET: ${{ secrets.DEPLOYMENT_SSH_PATH }}
      - name: SSH Execute Commands
        # You may pin to the exact commit or the version.
        # uses: JimCronqvist/action-ssh@1c03e01b4ac39da814b45cfd2924c2df0ff1396f
        uses: JimCronqvist/action-ssh@0.1.1
        with:
          # Command(s) to execute on the remote server.
          command: systemctl restart Derrick
          # Hostname or IP address of the remote server(s). Separate multiple servers with a blank space. Example: 'user@mydomain.com:22 user@otherdomain.com:2222'
          hosts: ${{ secrets.DEPLOYMENT_SSH_USER }}@${{ secrets.DEPLOYMENT_SSH_HOST }}:${{ secrets.DEPLOYMENT_SSH_PORT }}
          # The private key (id_rsa) content for authenticating to the SSH server(s). Recommended to store it as a GitHub Secret.
          privateKey: ${{ secrets.DEPLOYMENT_SSH_KEY }}
